{% extends "base.html" %}
{% block title %}Enrichment{% endblock %}
{% block content %}
<h1>Enrichment</h1>
{% if enrichment_list %}
{% if topbuttons %}
<p><a class="btn btn-primary" href="{% url 'enrichment_create' %}">Add enrichment</a></p>
{% endif %}
<ul>
    {% for enrichment in enrichment_list %}
    <li><a href="{% url 'enrichment_detail' enrichment.id %}">{{ enrichment }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<p><a class="btn btn-primary" href="{% url 'enrichment_create' %}">Add enrichment</a></p>
{% endblock %}
